# lembre de colocar o nome da pasta sem o ponto na frente
# Para ignorar todos arquivos e sub-pastas localizados na pasta metadata/plugins/
.vs/

# Para ignorar todos os arquivos e sub-pastas da pasta metadata/
obj/

obj/build