<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Language" value="Português" />
		<add key="build" value="1.0" />
		<add key="dev" value="Anderson Lima" />
		<add key="rodape" value="Desenvolvido por" />
		<add key="dataBuild" value="04/04/2023"/>
		<add key="config_runBackground" value="false" />
		<add key="config_startup" value="false" />
		<add key="LastCommitDate" value="" />
		<add key="LastCommitDate" value="" />
	</appSettings>
</configuration>